<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <title>
        {% block titulo %}

        {% endblock titulo %}
    </title>
</head>

{% include 'home/conmon/header.html' %}

<body>
    {% block cuerpo %}

    {% endblock cuerpo %}
</body>

{% include 'home/conmon/Footer.html' %}

</html>