{% extends 'base.html' %}

{% load static%}

{% block title %}Borrar Empleado{% endblock title %}

{% block cuerpo %}
    {% include "includes/header.html" %}
    <!-- BLOQUE de Eliminacion -->
    <div class="grid-container">
        <div class="grid-x align-center">
            <form action="" method="post">{% csrf_token %}
                <p class="cell">Confirme que desea eliminar el Empleado</p>
                <label for="name"><input type="text" name="name" id="name" value="{{ object.firts_name }}" DISABLED></label>
                <input class="cell button alert" type="submit" value="Confirmar">
            </form>
        </div>
    </div>
    <!-- FIN BLOQUE Eliminacion -->
{% endblock cuerpo %}