{% extends 'base.html' %}

{% load static%}

{% block title %} Listar Empleados{% endblock title %}

{% block cuerpo %}
    {% include "includes/header.html" %}
    <!-- BLOQUE GENERAL -->
    <div class="grid-container">
        <div class="grid-x">
            <!-- BLOQUE DE BIENVENIDA -->
            <h1 class="cell">Todos los Empleados</h1>
            <!--BUSQUIEDA-->
            <div class="cell grid-x">
                <form action="" method="get">{% csrf_token %}
                    <div class="large-6'">
                        <input type="text" name="keyword" id="keyword" placeholder="BuscarEmpleado">
                    </div>
                    <div class="large-2">
                        <input class="button" type="submit" value="BUSCAR">
                    </div>
                </form>
            </div>
            <!--FIN BUSQUIEDA-->
            <!--TABLA-->
            <div class="cell">
                <table>
                    <thead>
                        <td>ID</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Depto</td>
                        <td>Job</td>
                        <td>Accion</td>
                    </thead>
                    <tbody>
                        {% for x in listaEmpleados %}
                        <tr>
                            <td>{{ x.id }}</td>
                            <td>{{ x.firts_name }}</td>
                            <td>{{ x.last_name }}</td>
                            <td>{{ x.departamento }}</td>
                            <td>{{ x.job }}</td>
                            <td>
                                <a class="button success" href="{% url 'Empleado_App:DetalleEmpleado' x.id %}" >Ver</a>
                                <a class="button warning" >Actualizar</a>
                                <a class="button alert" >Borrar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--FIN TABLA-->
            <!--PAGINACION-->
            <div class="cell">
                {% if is_paginated %}
                    <nav aria-label="Pagination">
                        <ul class="pagination text-center">
                            {% if page_obj.has_previous %}
                                <li class="pagination-previous"><a href="?page={{page_obj.previous_page_number}}" aria-label="Previous page">Anterior</a></li>
                            {% else %}
                                <li class="pagination-previous disabled">Anterior</li>
                            {% endif %}

                            {% for x in paginator.page_range %}
                                {% if page_obj.number == x %}
                                    <li class="current"><span class="show-for-sr">You're on page</span>{{ x }}</li>
                                {% else %}
                                    <li><a href="?page={{x}}" aria-label="Page {{x}}">{{x}}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="pagination-next"><a href="?page={{page_obj.next_page_number}}" aria-label="Next page">Siguiente</a></li>
                            {% else %}
                                <li class="pagination-next disabled">Siguiente</li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
            <!-- FINPAGINACION-->
        </div>
    </div>
    <!-- FIN BLOQUE GENERAL -->
{% endblock cuerpo %}